[submodule "OnlineJudge"]
	path = OnlineJudge
	url = git@github.com:25077667/OnlineJudge.git
[submodule "Judger"]
	path = Judger
	url = git@github.com:25077667/Judger.git
	branch = main
[submodule "JudgeServer"]
	path = JudgeServer
	url = git@github.com:25077667/JudgeServer.git
[submodule "OnlineJudgeDeploy"]
	path = OnlineJudgeDeploy
	url = git@github.com:25077667/OnlineJudgeDeploy.git
	branch = main
