version: "3.8"

services:
    poke:
        image: zxc25077667/poke
        container_name: poke
        restart: unless-stopped
        networks:
            - poke
    poke1:
        image: zxc25077667/poke
        container_name: poke1
        restart: unless-stopped
        networks:
            - poke
    swag:
        image: ghcr.io/linuxserver/swag
        container_name: swag
        cap_add:
            - NET_ADMIN
        environment:
            - PUID=1000
            - PGID=1000
            - TZ=Asia/Taipei
            - URL=dorm.scc-net.tw
            - VALIDATION=http
            - SUBDOMAINS=oj,
        volumes:
            - "./swag/config:/config"
        ports:
            - 443:443
            - 80:80
        restart: unless-stopped
        depends_on: 
            - poke
        networks: 
            - poke
            - oj

networks:
    poke:
        driver: bridge
    oj:
        driver: bridge
